.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
}

.title {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 30px;
}

.title_span {
  color: red;
}

.url {
  border: 2px solid white;
  outline: none;
  background-color: black;
  border-radius: 10px;
  color: white;
  height: 30px;
}

.buscar {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all .2s;
  border: none;
  cursor: pointer;
}

.buscar:hover {
  background-color: rgb(212, 212, 212);
  border-radius: 0px;
}